node_modules
api/venv
api/data
api/migrations
ui/node_modules/
ui/.pnp
ui/.pnp.js
ui/coverage
ui/build
ui/package-lock.json
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
*.swp
*__pycache__*
