@import '../assets/sass/globals.scss';

body {
    color: $font-color;
    width: 100%;
  }
  
html,
body,
#root {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}