@import '../../assets/sass/globals.scss';

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2% 10%;

    .filters {
        display: flex;
        justify-content: center;
        
        .filter {
            padding: 0 10px;
        }
    }

    .film-list {
        margin-top: 10px;
    }

    .dropdown-item {
        font-size: 12px !important;
    }

    .dropdown-menu.show {
        position: absolute;
        will-change: transform;
        max-height: 700px;
        top: 0px;
        left: 0px;
        transform: translate3d(10px, 38px, 0px);
        overflow: scroll;
    }
}
